<form class="quote-form">
  <div class="input-group">
    <select name="quantity">
      <option value="12">12</option>
      <option value="24">24</option>
      <option value="48">48</option>
      <option value="96">96</option>
      <option value="150">150</option>
      <option value="300">300</option>
      <option value="500">500</option>
      <option value="750">750</option>
      <option value="1000">1000</option>
    </select>
  </div>

  <div class="input-group">
    <button type="submit" class="btn quote-form-submit">Submit</button>
  </div>
</form>