{% assign page_handle = page.handle | downcase %}
{% assign page_name = page.title %}

{% if page_handle == 'free-quote' %}
  <div class="full-width stuck-header">
    <div class="section-header text-center">
      <h1>{{ page_name }}</h1>
    </div>
    {% include 'quote-form' %}
  </div>
{% else %}
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page_name }}</h1>
        </div>
        <div class="rte">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
{% endif %}